exclude: ^(.idea|.vscode)/
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    # https://github.com/pre-commit/pre-commit-hooks
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        args: [ --unsafe ]
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: ^docs/commands\.md$
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: ^docs/commands\.md$

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        name: python ruff lint
        args: [ --fix, --exit-non-zero-on-fix ]
      - id: ruff-format
        name: python ruff format
        args: [ --check ]
