#jinja2: newline_sequence:'\r\n'
<powershell>
$admin = [adsi]("WinNT://./administrator, user")
$admin.PSBase.Invoke("SetPassword", "{{ ansible_password }}")
net user Administrator "{{ ansible_password }}"
</powershell>
<persist>true</persist>
